name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # STAGE 1: Unit Testing
  test-logic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install & Run Unit Tests (Jest)
        run: |
          cd frontend
          npm install
          npm test

  # STAGE 2: Containerization & Delivery
  # This runs as soon as tests pass
  build-and-push:
    needs: test-logic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-devops:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-devops:latest
