name: Task Manager DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # STAGE 1: Logic & Testing (Node.js, Jest)
  unit-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Dependencies & Run Jest
        run: |
          cd frontend
          npm install
          npm test

  # STAGE 2: Security & Quality (SonarCloud)
  security-gate:
    needs: unit-testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io # Updated to Cloud URL

  # STAGE 3: Infrastructure (Docker & Nginx)
  containerization:
    needs: security-gate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Nginx Frontend
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-frontend:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-frontend:latest

  # STAGE 4: Observability Validation (Prometheus & Grafana)
  observability-check:
    needs: containerization
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Validate Prometheus Config
        # This ensures your prometheus.yml has no syntax errors
        run: |
          docker run --rm -v $(pwd)/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml \
          prom/prometheus:latest promtool check config /etc/prometheus/prometheus.yml

      - name: Build Observability Images
        # Pushing your custom monitoring configs to the repo
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-prometheus:latest ./prometheus
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-prometheus:latest

