name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 2. Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: 3. Install & Run Unit Tests (Jest)
        run: |
          cd frontend
          npm install
          npm test

      - name: 4. Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 5. Containerization: Build & Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-devops:latest ./frontend
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/task-manager-devops:latest
